.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: none;
    color: red;
}